<h2> Enter your payment details </h2>
<form action="/orders" method="post">
	<input type="text" placeholder="Enter your credit card number" name="cc" required="true">
	<button type="submit">Place Order!</button>
</form>
