<h1>Shipping Details</h1>
<!-----Displays the map of each store location ----->
<%= render 'form', shipping_detail: @shipping_detail %>


   <link 
    rel="stylesheet" 
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
    />
      
    <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
    </script>

 <div id="mapid"></div>

<script> 
    $('document').ready(function(){
        var mymap = L.map('mapid').setView([55.010, -3.010], 5);     
          
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoidDE1aHMxOSIsImEiOiJja2dyaGx2amQwZjBtMnhxdzBmd2loZ3F5In0.NemiDxQl-m-_CBtwLT4R7Q'
    }).addTo(mymap);
       
   
    var marker = L.marker([<%= current_customer.store.latitude %>, <%= current_customer.store.longitude %>]).addTo(mymap);
});
</script>

<%= link_to 'Back to Shopping Cart to add more products', shopping_cart_path %>